<table>
  <thead>
    <th>id</th>
    <th>status</th>
    <th>title</th>
    <th>description</th>
    <th>code</th>
    <th>price</th>
    <th>stock</th>
    <th>category</th>
    <th>thumbnails</th>
  </thead>
  <tbody id="products">
  </tbody>
</table>

<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/products.js"></script>